/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.header-title {
    font-size: 76px;
    font-family: 'Berkshire Swash', cursive;;
    color: #FF5E19;
}
.players {
    width: 80%;
}
.card-heading {
    font-size: 32px;
    font-weight: bold;
}
.card p{
    color: #B3B3B3;
}
.select-btn{
    width: 100%;
    background-color: #015196;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.right-sidebar{
    color: #AFAFAF;
    padding: 15px 0;
}
.right-sidebar-top, .right-sidebar-bottom {
    padding: 15px 30px;
}
.perPlayer-btn, .calculateTotal-btn{
    background-color: #015196;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.select-btn:disabled{
    background-color: #808080;
}